.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 100px;
}
.head {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 60px;

  line-height: 64px;
  letter-spacing: -3%;
}
.headProcess{
  color: #FBB11F;
  font-family: Oregano;

font-weight: 400;
font-style: Regular;
font-size: 96px;

}
.video {
  width: 100%;
  height: 811px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 40px;
}
