.whyTrust {
  text-align: center;
  padding: 80px 20px;
  font-family: "Inter", sans-serif;
}

.title {
  
  font-family: Plus Jakarta Sans;
font-weight: 600;
font-style: SemiBold;
font-size: 56px;


}
.subtitle{
  font-family: Manrope;
font-weight: 500;
font-style: Medium;
font-size: 16px;


}

.title span {
  color: #ff8a00;
}

.subtitle {
  max-width: 620px;
  margin: 12px auto 60px;
  color: #666;
  line-height: 1.6;
}

.circleWrapper {
  position: relative;
  width: 520px;
  height: 520px;
  margin: auto;
}

.centerCircle {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 220px;
  height: 220px;
  background: #fff6e8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  color: #ff8a00;
  box-shadow: 0 0 0 40px rgba(255, 138, 0, 0.06);
}



/* Card */
.card {
  position: absolute;
  background: #ffffff;
  padding: 16px 18px;
  border-radius: 16px;
  box-shadow: 0 14px 32px rgba(0, 0, 0, 0.08);
  width: 180px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.icon {
  width: 22px;
  height: 22px;
  color: #ff8a00;
}

/* Text */
.text span {
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
}

.text{
  font-family: Manrope;
font-weight: 700;
font-style: Bold;
font-size: 20px;


}

/* Positions */
.topLeft {
  top: 0;
  left: 30px;
}
.topRight {
  top: 0;
  right: 30px;
}
.left {
  top: 120px;
  left: -60px;
}
.right {
  top: 120px;
  right: -60px;
}
.bottomLeft {
  bottom: 170px;
  left: -50px;
}
.bottomRight {
  bottom: 170px;
  right: -50px;
}

.leftBottom {
  bottom: 40px;
  left: 20px;
}
.rightBottom {
  bottom: 40px;
  right: 20px;
}
.bottomCenter {
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.leftArrow {
  position: absolute;
  bottom: -80px;
  left: 40px;
}
.rightArrow {
  position: absolute;
  bottom: -80px;
  right: 40px;
}
/* Responsive */
@media (max-width: 768px) {
  .circleWrapper {
    transform: scale(0.8);
  }
}

@media (max-width: 480px) {
  .circleWrapper {
    transform: scale(0.65);
  }
}
