.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 120px;
}

.card {
  background: #ffffff;

  padding: 18px 10px;
  text-align: center;
  border: 1px solid #ffe6a1;
  width: 255px;
}

.value {
  color: #1f2937;
  margin: 0;

  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
}

.label {
  color: #1f2937;
  margin: 0;

  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 420px) {
  .container {
    grid-template-columns: 1fr;
  }
}
