.wrapper {
  padding: 80px 20px;
  font-family: "Inter", sans-serif;
  background: #fff;
}

/* Top */
.top {
  text-align: center;
  margin-bottom: 40px;
}


.imagePlaceholder img {
  width: 479px;
  height: 319px;
  margin: auto;
 
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #92400e;
  font-size: 14px;
}

/* Divider */
.divider {
  height: 1px;
  background: #fde68a;
  margin: 40px 0;
}

/* Form */
.form {
  max-width: 1100px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field label {
  font-size: 14px;
  color: #444;
}

.field input,
.field select {
  padding: 14px 16px;
  border-radius: 12px;
  border: none;
  background: #f9fafb;
  font-size: 14px;
}

/* Phone */
.phone {
  display: flex;
  gap: 10px;
}

.code {
  padding: 14px 16px;
  background: #f9fafb;
  border-radius: 12px;
  font-size: 14px;
  color: #555;
}

/* Policy */
.policy {
  margin-top: 20px;
  font-size: 13px;
  color: #777;
}

.policy span {
  color: #f59e0b;
  cursor: pointer;
}

/* CTA */
.cta {
  margin: 40px auto 0;
  display: block;
  background: #fbbf24;
  color: #fff;
  border: none;
  padding: 16px 40px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .imagePlaceholder {
    width: 260px;
    height: 180px;
  }
}
