.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  background: url("../../assets/bg.svg") center / cover no-repeat;
  position: relative;
}

.line{
  position: absolute;
  bottom: -140px;
  left: 0px;
  z-index: -1;
}
svg text {
  opacity: 0;
}
.content {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 72px;

  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, #ffa800 0%, #000000 100%);
  background-clip: text;
}

.subContent {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  color: #5a5a59;

  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.exploreButton {
  width: 261;
  height: 52;

  opacity: 1;
  border-radius: 80px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  gap: 10px;
  background: #fbb11f;
  font-family: Plus Jakarta Sans;
  color: white;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
