.wrapper {
  background: #0b0b0b;
  padding: 10px;
  border-radius: 30px;
  color: #fff;
  position: relative;
  font-family: Plus Jakarta Sans;
}

.container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  background: linear-gradient(180deg, #0f0f0f, #080808);
  border-radius: 30px;
  overflow: hidden;
  
}

.iconWrapper{
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* LEFT */
.left {
  padding: 50px;
  border-right: 1px solid #1c1c1c;
}

.logo {
  font-size: 28px;
  
  width: 122px;
}
.logo1{
  color: white;
  background-color: white;
  border-radius: 50px;
  border-bottom-right-radius: 0px;
  padding: 10px;
  position: absolute;
  right: -20px;
  top: -10px;
}
.linksGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.linksGrid h4 {
  margin-bottom: 14px;
  font-size: 15px;
}

.linksGrid p {
  color: #9b9b9b;
  font-size: 14px;
  margin: 6px 0;
}

.backTop {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #bdbdbd;
}

.backTop span {
  border: 1px solid #444;
  padding: 6px 10px;
  border-radius: 6px;
}

/* RIGHT */
.right {
  padding: 50px;
  position: relative;
}

.badge {
  display: inline-block;
  border: 1px solid #333;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  margin-bottom: 24px;
}

.right h2 {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 30px;
}

.inputBox {
  display: flex;
  background: #111;
  border-radius: 40px;
  padding: 6px;
  max-width: 380px;
}

.inputBox input {
  flex: 1;
  background: transparent;
  border: none;
  padding: 14px 18px;
  color: #fff;
  outline: none;
}

.inputBox button {
  background: #ffb703;
  border: none;
  padding: 14px 22px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}

.image {
  position: absolute;
  right: -40px;
  bottom: 0;
  width: 400px;
  transform: scaleX(-1);
}

/* FOOTER CREDIT */
.credit {
  margin-top: 20px;
  font-size: 13px;
  color: #777;
  width: 200px;
  background-color: white;
  padding: 20px;
  border-radius: 50px;
  position: absolute;
  bottom: -10px;
  left: 0px;
}
